.login-container{
    display: flex;
    flex-direction: row;
    background-color: #222222;
    height: 90vh;
    width: 100vw;
}

.left-login{
    margin-top: 12vh;
    width: 50vw;
    padding: 20px;
    align-items: center;
    justify-content: center;
}

.Arrow{
    width: 30vw;
    height: 30vw;
    top: 235px;
    left: 186px;
}

.right-login{
    width: 50vw;
    display: flex;
    flex-direction: column;
}

.disfruta,
.musica{
    width: 50vw;
    margin-right: 5vw;
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 78px;
    text-align: center;
}

.disfruta{
    color: #FFFFFF;
    margin-bottom: 2;
}

.musica{
    margin-top: 2;
    color:#D6F379;
}

.r-cuenta{
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 25vw;
}

.cuenta{
    margin-left: 10vw;
    width: 20vw;
    display: flex;
    justify-content: flex-start;
    text-align: left;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    margin-bottom: 0;
}

.spoti{
    margin-top: 5vh;
    margin-left: 10vw;
    width: 25vw;
    display: flex;
    justify-content: flex-start;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
}

.logIn{
    max-width: fit-content;
    border-color: transparent;
    background-color: transparent;
}

.Arrow2{
    width: 16px;
    height: 14px;
    top: 5px;
    left: 4px;
}

/* IPAD PRO 11'' - 1 */

@media screen and (max-width: 1108px) {
    .login-container{
        position: relative;
        width: 834px;
        height: 1108px;
        background: #222222;

        display: flex;
        flex-direction: column;
    }

    .cuenta{
        width: 30vw;
    }
}

/* IPHONE 13/13 pro */

@media screen and (max-width: 390px) {
    .login-container{
        width: 100vw;
        justify-content: center;
        margin-top: 0px;
        margin-left: 0px;
    }
    
    .disfruta, .musica{
        margin-left: 0vw;
        font-size: 40px;
        text-align: center;
        width: 375px;
        margin-left: 0px;

    }
    .cuenta{
        width: 322px;
        height: 40px;
        font-size: 15px;
        margin-left: 0px;
    }
    .spoti{
        width: 200px;
        font-size: 16px;
        margin-left: 0px;
    }
    .Arrow2{
        margin-left: 15px;
    }
  /*  .left-login{
        display: flex;
        flex-direction: column;
    }
    .disfruta{
        width: 100vw;
    }
    .musica{
        width: 100vw;
    }
    
    .logIn{
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 80vw;
    }
    .Arrow2{
        margin: 2vw;
    }
*/
    
}