.homeContainer{
    height: 90vh;
    width: 100vw;
}

.upper{
    height: 30vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.busca{
    margin: 0;
    font-weight: 700;
    font-size: 30px;
    color: #FFFFFF;
}

.albumes{
    margin: 0;
    font-size: 30px;
    font-weight: 700;
    color:#D6F379;
}

.p{
    margin-top: 2vh;
    color: #FFFFFF;
    font-weight: 200;
    width: 30vw;
}

.down{
    height: 50vh;
    display: flex;
    flex-direction: column;
    margin-left: 6vw;
    margin-right: 6vh;
}

.save{
    display: flex;
    align-items: flex-start;
    color: #FFFFFF;
    font-weight: 200;
    margin-left: 6vw;
}

.please {
    color: #D6F379;;
}

.please2{
    color: #FFFFFF;
}

.bottom{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:flex-end;
}

/* TABLET */

