.container {
    display: flex;
    width: 100vw;
    height: 10vh;
}

.left {
    flex: 1;
    display: flex;
    width: 50%;
}

.Aluxion-image {
    width: 133px;
    height: 24px;
    margin-top: 15px;
    margin-left: 42px;
}

.Aluxion-image2 {
    display: none;
    /*width: 133px;
    height: 24px;
    margin-top: 15px;
    margin-left: 42px;*/
}

.close{
    display: none;
}

.right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 50%;
    margin-left: 10%;
}

.sesion{
    background-color: transparent;
    border-color: transparent;
}
.sesion:hover{
    color: #D6F379;
}

.sun-moon{
    background-color: transparent;
    border-color: transparent;
}
.sun-moon:hover{
    background-color: rgba(255, 255, 255, 0.5);
}

.button-active {
    background-color: transparent;
    color: #D6F379;
}

.button-inactive {
    background-color: transparent;
    color: #FFFFFF;
}

a,
button {
    font-weight: 600px;
    font-size: 16px;
    padding: 2vh;
    color: #E5E5E5;
}

.disable {
    background-color: transparent;
    border-color: transparent;
    font-weight: 600px;
    font-size: 16px;
    color: #E5E5E5;
    cursor: default;
}

a {
    text-decoration: none;
}

button:hover{
    cursor: pointer;
}

.right2{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 50%;
    margin-left: 82vw;
}

/* TABLET */

@media screen and (max-width: 820px) {
    .container{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}

/* CELL PHONE */

@media screen and (max-width: 390px) {
    .left{
        margin-left: 5vw;
        width: 20vw;
    }
    .Aluxion-image{
        display: none;
    }
    .Aluxion-image2{
        display: flex;
        width: 7vw;
        height: 4vh;
    }

    .right{
        width: 80vw;
    }
    .sesion{
        display: none;
    }
    .close{
        display: flex;
        width: 8vw;
        height: 3vh;
        color: white;
        margin: 2vw;
    }
    
}